{% extends "por/base.html" %}
{% block content %}
<aside>
	<form method="GET" class="iskanje" action=".">
		<fieldset>
			<legend>Poišči želeno vozilo</legend>
			<label><input type="search" name="q" placeholder="Iskanje.."></label>
			<input type="Submit" name="search_box" value="Išči.."></input>
		</fieldset>
	</form>
	<form method="GET" autocomplete="on" class="consump_calc" id="izrac1" >
		<fieldset >
		    <legend >Kalkulator povprečne porabe</legend>
		    <label><input type="number" name="kolicina_goriva" placeholder="Gorivo (L)" min="0"></label>
		    <label><input type="number" name="kilometri" placeholder="Prevoženi kilometri" min="0"></label>					    
		    <label><input type="submit" name="izracunaj" value="Izračunaj" ></label>
		    <div class="rezultat_iskanja">
				{% if avg_poraba %}
					<p> Povprečna poraba: {{ avg_poraba }} [L/100km]
				{% endif %}
			</div>
		</fieldset>
	</form>
	<div id="rezultat_iskanja1"></div>
	<form method="GET" autocomplete="on" class="costs_calc">
		<fieldset >
		    <legend >Kalkulator stroškov</legend>
		    <label><input type="number" name="tmp_poraba" placeholder="Poraba [L/100km]" min="0" step="0.1"></label>
			<label><input type="number" name="st_kilometrov" placeholder="Željeni kilometri [km]" min="0"></label>
		    <label><input type="Submit" name="izracunaj" value="Izračunaj" id="izrac2"></label>
		    <div class="rezultat_iskanja2">
				{% if stroski2 %}
					<p> Strošek: {{ stroski2 }}€
				{% endif %}
			</div>
		</fieldset>
	</form>
</aside>
		
<div class="zapisi"> 
	<table>
		<caption>Seznam avtomobilov</caption>
		<thead>
			<tr>
				<th></th>
				<th>Podatki</th>
				<th>Poraba<br>(L/100km)</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td></td>
				<td>
					<ul id="paging">
						{% if not results %}
							{% if cars.has_previous %}
								<li><a href="?page={{ cars.previous_page_number }}">Prejšnja</a></li>
							{% endif %}
							<span class="current">
								[Stran {{ cars.number }} od {{ cars.paginator.num_pages }}]
							</span>

							{% if cars.has_next %}
								<li><a href="?page={{ cars.next_page_number }}">Naslednja</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</td>
				<td></td>
			</tr>
		</tfoot>
		<tbody>
			{% if not results %}
				{% for car in cars %}
				<tr>
					<td>
						<a href="{% url 'izdelek' car.id %}">
							{% if car.image.url != Null %}
								<img src="{{ car.image.url }}" alt="avtomobil" >
							{% else %}
								<img src="#" alt="avtomobil" >
							{% endif %}
						</a>				
					</td>
					<td>
						Znamka: {{ car.brand }}<br>
						Model: {{ car.car_model }}<br>
						Letnik: {{ car.year }} <br>
						Lastnik: <a href="{% url 'profile' car.owner.id %}">{{ car.owner.user.first_name }} {{ car.owner.user.last_name }}</a>
					</td>
					<td> {{ car.fuel_consumption }} </td>
				</tr>
				{% endfor %}
			{% else %}
				{% for res in results %}
					<tr>
						<td>
							<a href="{% url 'izdelek' res.id %}">
								{% if res.image.url != Null %}
									<img src="{{ res.image.url }}" alt="avtomobil" >
								{% else %}
									<img src="#" alt="avtomobil" >
								{% endif %}
							</a>				
						</td>
						<td>
							Znamka: {{ res.brand }}<br>
							Model: {{ res.car_model }}<br>
							Letnik: {{ res.year }} <br>
							Lastnik: <a href="{% url 'profile' res.owner.id %}">{{ res.owner.user.first_name }} {{ res.owner.user.last_name }}</a>
						</td>
						<td> {{ res.fuel_consumption }} </td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}