{% extends "por/base.html" %}
{% block content %}

<section style="width: 100%" class="izdelek">
	<h1>{{ car.brand }} {{ car.car_model }}</h1>
	<article >
		<div class="izdelek_podatki">
			<div id="izd1">
				{% if car.image.url != Null %}
					<img src="{{ car.image.url }}" alt="avtomobil" id="glavna">
				{% else %}
					<img src="#" alt="avtomobil" id="glavna">
				{% endif %}
			</div>
			<div id="izd2">
				<h2 >Podatki</h2>
				<p>
					
					Znamka: {{ car.brand }}<br>
					Model: {{ car.car_model }}<br>
					Letnik: {{ car.year}}<br>
					Prevoženi kilometri [km]: {{ car.kilometers }}<br>
					Povprečni obrati[RPM]: {{ car.rotation_speed }}<br>
					Lastnik: <a href="{% url 'profile' car.owner.id %}">{{ car.owner.user.first_name }} {{ car.owner.user.last_name }}</a>
				</p>
			</div>
		</div>
		<div class="comments">
			{% if comments %}
			<table>
				<caption>Komentarji</caption>
				<thead>
					<tr>
						<th></th>						
						<th> Komentar</th>
						<th>Ime Priimek</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td>
							<ul id="paging">
								{% if comments.has_previous %}
									<li><a href="?page={{ comments.previous_page_number }}">Prejšnja</a></li>
								{% endif %}
								<span class="current">
									[Stran {{ comments.number }} od {{ comments.paginator.num_pages }}]
								</span>

								{% if comments.has_next %}
									<li><a href="?page={{ comments.next_page_number }}">Naslednja</a></li>
								{% endif %}
							</ul>
						</td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					{% for com in comments %}
					<tr>
						<td><a href="profile.html"><img src="profile.png" alt="uporabnik" ></a></td>
						<td>
							{{ com.comment }} 
						</td>
						<td>{{com.author.user.first_name}} {{com.author.user.last_name}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			{% if user.is_authenticated %}
			<form method="POST" autocomplete="on" id="login_form" >
				<fieldset >
					<legend >Dodaj komentar</legend>
					{% csrf_token %}
					{{ form.as_table }}
					<input type="Submit" name="Komentiraj" >
				</fieldset>
			</form>
			{% endif %}
		</div>
	</article>
</section>
{% endblock %}