{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Poraba - Registracija</title>
	<link rel="stylesheet" type="text/css" href="{% static 'por/style.css' %}">
	<meta charset="utf-8">
</head>
<body>
	<header>
		<a href="{% url 'index' %}"><img src="logo-car.jpg" alt="LOGO" ></a>				
	</header>
	
		<nav >
			<ul>
			<li onclick="location='{% url 'index' %}'">Domov</li>
			<li onclick="location='{% url 'map' %}'">Zemljevid</li>
			<li onclick="location='{% url 'about' %}'">O nas</li>
		</ul>
		</nav>
	<div class="centered-content" id="main">
		<form method="post" autocomplete="on" id="login_form">
			<fieldset >
			    <legend >Registracija</legend>
				{% csrf_token %}
				{{ user.as_table }}				
				{{ profile.as_table }}
				<input type="Submit" name="Potrdi registracijo" >
			</fieldset>
			
			
		</form>
	</div>
	<footer >
		Avtor: Denis Fidel<br>
		Kontakt: denis.fidel12@gmail.com
	</footer>
</body>
</html>