{% extends "por/base.html" %}
{% block content %}


<section style="width: 100%;" class="profil">
	
	<h1>{{ profile.user.first_name }} {{ profile.user.last_name }} </h1>	
	<article >
		<div class="profil_podatki">
			<div id="izd1">	
				<img src="profile.png" alt="uporabnik" id="glavna">
			</div>
			<div id="izd2">
				<h2 >Podatki</h2>
				<p>
					Ime: {{ profile.user.first_name }}<br>
					Priimek: {{ profile.user.last_name }}<br>
					<br>
					Kontakti: <br>
					Elektronski naslov: {{ profile.user.email }}

				</p>
			</div>
			<div id="izd3">
				<h2>Šrtevilo vozil:</h2>
				<p>
					{{ car_list.count }}
				</p>
			</div>
		</div>
		
	</article>
	{% if user.is_authenticated %}
	<article class="graf_porabe">
		<h2><a href="{% url 'carAdd' profile.id %}">Dodajte novo vozilo</a></h2>
	</article>
	{% endif %}
	{% if car_list.count > 0 %}
	<article class="graf_porabe">
		<h2>Graf porabe</h2>
		<canvas id="graf">
			
		</canvas>
	</article>
	<div class="vozila">

		<table>
			<caption>Moja vozila</caption>
			<thead>
				<tr>
					<th></th>
					<th>Podatki</th>
					<th>Poraba<br>(L/100km)</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<ul id="paging">
							<li><a href="#">Prejšnja</a></li>
							<li><a href="#">Naslednja</a></li>
						</ul>
					</td>
					<td></td>
				</tr>
			</tfoot>
			<tbody>
				{% for c in car_list %}
				<tr>
					<td>
						<a href="{% url 'izdelek' c.id %}">
							{% if c.image.url != Null %}
								<img src="{{ c.image.url }}" alt="avtomobil" >
							{% else %}
								<img src="#" alt="avtomobil" >
							{% endif %}
						</a>
					</td>
					<td>
						Znamka: {{c.brand}}<br>
						Model: {{c.car_model}}<br>
						Letnik: {{c.year}}<br>
					</td>
					<td>{{c.fuel_consumption}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
	
</section>
{% endblock %}